<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.king.app.tcareer">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- *****往sdcard中写入数据的权限******* -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- *****在sdcard中创建/删除文件的权限******* -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.MOUNT_FORMAT_FILESYSTEMS" />

    <!-- *****samsung fingerprint sdk permission******* -->
    <uses-permission android:name="com.samsung.android.providers.context.permission.WRITE_USE_APP_FEATURE_SURVEY" />

    <application
        android:name=".base.TApplication"
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/app_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.samsung.android.sdk.multiwindow.enable"
            android:value="true" />
        <meta-data
            android:name="com.samsung.android.sdk.multiwindow.multiinstance.enable"
            android:value="true" />
        <meta-data
            android:name="com.sec.android.multiwindow.STYLE"
            android:value="fixedRatio" />
        <meta-data
            android:name="com.sec.android.support.multiwindow"
            android:value="true" />

        <activity android:name=".page.TestActivity">
        </activity>

        <activity
            android:name=".page.login.LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".page.home.main.MainHomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HomeTheme">
        </activity>
        <activity
            android:name=".page.match.recent.RecentMatchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HomeTheme" />

        <activity
            android:name=".page.home.HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HomeTheme" />
        <activity
            android:name=".page.setting.SettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".page.record.list.RecordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/RecordTheme" />
        <activity
            android:name=".page.record.complex.RecordComplexActivity"
            android:screenOrientation="portrait"
            android:theme="@style/RecordTheme" />
        <activity
            android:name=".page.record.page.RecordPageActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/RecordTheme" />
        <activity
            android:name=".page.record.editor.RecordEditorActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SubTheme" />
        <activity
            android:name=".page.match.common.MatchCommonActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name=".page.match.manage.MatchManageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarTheme"></activity>
        <activity
            android:name=".page.match.page.MatchPageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HomeTheme" />
        <activity
            android:name=".page.match.gallery.UserMatchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HomeTheme" />
        <activity
            android:name=".page.player.manage.PlayerManageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name=".page.player.page.PlayerPageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HomeTheme" />
        <activity
            android:name=".page.player.slider.PlayerSlideActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HomeTheme" />
        <activity
            android:name=".page.rank.RankManageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name=".page.rank.RankDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name=".page.score.ScoreActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name=".page.player.h2hlist.H2hListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/RecordTheme" />
        <activity
            android:name=".page.glory.GloryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HomeTheme" />
        <activity
            android:name=".page.player.atp.AtpManageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name=".page.record.complex.CareerCompareActivity"
            android:screenOrientation="portrait"
            android:theme="@style/RecordTheme" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.king.app.tcareer.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>